### Question 1

In [1]:
# Version of NumPy

import numpy as np
print(np.__version__)

1.20.1

### Question 2

In [2]:
# Version of Pandas

import pandas as pd
print(pd.__version__)

1.2.4

### Question 3

In [3]:
# Read data with Pandas

df = pd.read_csv('data.csv')

In [4]:
# The average price of BMW

print(round(df[df['Make']=='BMW']['MSRP'].mean(), 2))

61546.76

### Question 4

In [5]:
# Number of missing values in "Engine HP" after 2015 (including 2015)

print(len(df[(df['Year'] >= 2015) & df["Engine HP"].isna()]))

51

### Question 5

In [6]:
# The average "Engine HP" in the dataset

mean_hp_before = df['Engine HP'].mean()
print(round(mean_hp_before))

249

In [7]:
# Fill the missing values in "Engine HP" with the mean 

engine_hp_normalized = df['Engine HP'].fillna(mean_hp_before)
df['Engine HP'] = engine_hp_normalized

In [8]:
# The average "Engine HP" in the dataset

mean_hp_after = df['Engine HP'].mean()
print(round(mean_hp_after))

249

### Question 6

In [9]:
# Select all the "Rolls-Royce" cars from the dataset

df_ = df[df['Make']=='Rolls-Royce']

In [10]:
# Select only columns "Engine HP", "Engine Cylinders", "highway MPG"

df_ = df_[["Engine HP", "Engine Cylinders", "highway MPG"]]

In [11]:
# Drop all duplicated rows using drop_duplicates method

df_ = df_.drop_duplicates()
print("Number of rows: ", df_.shape[0])

Number of rows:  7

In [12]:
# Get the underlying NumPy array

X = df_.values

In [13]:
# Get the transpose of X

TX = X.T

In [14]:
# Compute matrix-matrix multiplication between the transpose of X and X

XTX = TX.dot(X)

In [15]:
# Invert XTX

XTX_inv = np.linalg.inv(XTX)

In [20]:
# The sum of all the elements of the result

print(round(XTX_inv.sum(), 4))

0.0322

### Question 7

In [17]:
# Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300]

y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [18]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

w = (XTX_inv.dot(TX)).dot(y)

In [19]:
# What's the value of the first element of w?.

print(round(w[0], 6))

0.199896